.bg-chat {
    background-image: url('../../../public/imgs/bg-social.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-welcome {
    background-image: url('../../../public/imgs/welcome.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

